*{
    margin: 0;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(51, 49, 49);
}
.d1{
    height: 450px;
    width: 450px;
    /* background-color: rgb(255, 255, 251); */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.c1{
    height: 45px;
    width: 45px;
    background-color: rgb(255, 0, 0);
    /* border:2px solid black; */
    border-radius: 50px 50px 1px 0px;
    transform: rotate(-45deg) translateX(-.2px);
}
.c2{
    height: 45px;
    width: 45px;
    background-color: rgb(255, 0, 0);
    /* border:2px solid black; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform: rotate(45deg) translateX(1.3px);
}
.c3{
    height: 35px;
    width: 35.5px;
    background-color: rgb(255, 0, 0);
    transform: rotate(45deg) translateX(-22.5px) translateY(65.5px);
    top:10px;
}
.b1{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 0, 0);
    /* border:2px solid black; */
    border-radius: 50px 50px 50px 50px;
    transform: translateX(-89px) translateY(68px);
}