body{
  margin: 0;
}

.card1{
  background-color: skyblue;
  max-width: 300px;
  padding:5px;
  border: 1px solid;
  font-family: "Bona Nova SC";
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin:20px auto 50px auto;
}
.card1 img{
  width: 280px;
}

.add,.remove{
  background-color: aqua;
  position: relative;
  font-family: "Bona Nova SC";
  font-weight: bold;
  border-radius:200px;
  border-width: 1px;
  top: 0;
}

.add:hover, .remove:hover{
  background-color: rgb(20, 212, 212);
}