body{
  margin: 0;
}

.card1{
  background-color: #1E201E;
  max-width: 300px;
  padding:5px;
  border: 1px solid whitesmoke;
  font-family: "Bona Nova SC";
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin:20px auto 50px auto;
  border-radius: 70px;
  color: whitesmoke;
}
.card1 img{
  width: 280px;
  border-radius: inherit;
  overflow:auto;
}

.remove,.liked{
  background-color:whitesmoke;
  position: relative;
  font-family: "Bona Nova SC";
  font-weight: bold;
  border-radius:200px;
  border-width: 1px;
  top: 0;
}

.remove:hover,.liked:hover{
  background-color: rgb(131, 131, 131);
}